.adminAccordion {
  .accordion-button::after {
    width: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    &--name {
      font-size: 1.2rem;
      font-family: $font-primary;
    }
    &--date {
      font-family: $font-primary;
      font-size: 0.8rem;
      text-align: right;
      width: 100%;
      padding-top: 10px;
    }
    &--label {
      font-weight: 600;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &--text {
      margin-bottom: 10px;
    }
    &--label {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  &__image {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &__img {
    border-radius: 10px;
  }
}

@include for-large-mobile {
  .adminAccordion {
    &__image {
      width: auto;
    }
  }
}
