// .button {
//   width: 100%;
//   max-width: 800px !important;
//   margin: 0 auto;
// }
.btn-primary {
  width: 100%;
  margin: 1rem auto;
}
.btn-secondary {
  width: 100%;
  max-width: 650px !important;
  margin: 0 auto;
}
.form__button {
  max-width: 650px !important;
}
.searchForm__button {
  position: absolute !important;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 4 !important;
  box-shadow: none !important;
  color: map-get($colors, light-blue) !important;
  &:hover {
    box-shadow: none;
    color: map-get($colors, dark-blue) !important;
  }
  &[disabled]:hover {
    color: map-get($colors, light-blue) !important;
    box-shadow: none;
  }
  &--icon {
    width: 25px;
    margin: 4px 0;
  }
}

//filter checkbox buttons
.filters__checkbox {
  margin: 4px;
  background-color: map-get($colors, background);
  border-radius: 10px;
  border: 1px solid map-get($colors, dark-blue);
  overflow: hidden;
  display: inline-flex;
  &--label {
    float: left;
    color: map-get($colors, dark-blue);
  }
  &--input {
    position: absolute;
    display: none;
    color: map-get($colors, dark-blue) !important;
    &:checked + span {
      color: map-get($colors, background);
      background-color: map-get($colors, dark-blue);
    }
    &:hover + span {
      cursor: pointer;
      color: map-get($colors, background);
      background-color: map-get($colors, dark-blue);
    }
  }
  &--span {
    text-align: center;
    padding: 4px 10px;
    display: block;
    color: map-get($colors, dark-blue);
  }
}

//filter buttons
.filterButton {
  &__tags {
    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      padding-right: 4px;
    }
    &--item {
      font-size: 1rem;
    }
  }
}
