.card__text--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.card__text--price {
  font-weight: 500;
}

.card {
  box-shadow: $box-shadow;
}

.card-subtitle,
.card-tags-container span {
  font-size: 0.9rem;
}
.card-subtitle {
  height: 40px;
}

.card__tags--container {
  display: none;
}
.card-tag {
  font-size: 0.9rem;
}
.accomodation-card {
  padding: 25px;
  border-radius: 10px;
  border: none;
}
.accomodation-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 0 0;
}
.fa-star {
  width: 25px;
  padding-right: 5px;
  color: #e6c532;
}
.tag__icon {
  width: 1.2rem;
  height: 1.2rem;
  padding-right: 3px;
  color: #566d73;
}
.fa-location-dot {
  width: 16px;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #566d73;
}
.accomodation-card-img {
  padding: 1rem;
  border-radius: 10px;
}

.inspo__tiles--card {
  background-color: map-get($colors, light-blue) !important;
  text-align: center;
}
.inspo__tiles--card:hover {
  box-shadow: $box-shadow-hover;
}

.inspo__tiles--card img,
.inspo-card img {
  border-radius: 10px 10px 0 0;
}

.inspo__tiles--link {
  color: map-get($colors, body);
}
.inspo__tiles--link:hover {
  text-decoration: none;
}

@include for-large-mobile {
  // .accomodation-card {
  //   height: 550px;
  // }
  .card-title {
    height: 75px;
  }
  .card-subtitle {
    height: 50px;
  }
}

@include for-tablet {
  // .accomodation-card {
  //   height: 540px;
  // }
  .card-title {
    height: 85px;
  }
  .card-subtitle {
    height: 60px;
  }
}

@include for-desktop {
  .card-title {
    height: 80px;
  }
  .card-subtitle {
    height: 50px;
  }
  .card__tags--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
  }
}

@include for-xl-desktop {
  .card-title {
    height: 65px;
  }
  .card-subtitle {
    height: 30px;
  }
  .card__tags--container {
    height: 60px;
  }
}

@include for-xxl-desktop {
  // .accomodation-card {
  //   height: 550px;
  // }
  .card-title {
    height: 60px;
  }
  .card__tags--container {
    height: 50px;
  }
}
