//search form
.searchForm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  margin-top: -24px;
  &__group {
    position: relative;
  }
  &__list {
    position: relative;
    width: inherit;
  }
  &__listGroup {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.hidden {
  display: none;
}
.form__datePicker {
  max-width: 466px;
  margin: 0 auto;
}
