.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  z-index: 20;
  background-color: map-get($colors, body);
  &__inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin: 0 auto;
  }
  &__svg {
    width: 80px;
    display: block;
    margin: 0 auto;
  }
  &__path {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: logoAnimate 3s linear;
  }
  &__text {
    color: map-get($colors, background);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

@keyframes logoAnimate {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
