body {
  font-family: sans-serif;
  margin: 0;
 }
 
 nav {
  background: #1D1F1E;
  height: 65px;
 }
 
 nav a {
  color: #ffffff;
  margin-right: 10px;
 }
 .wrapper {
   min-height: 100vh;
 }
 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
 }
 .section-container {
   margin: 2rem 0 6rem 0;
 }
 .form-container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 2rem;
   position: relative;
   margin-top: -24px;
 }

 .accomodation-card.card-text {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
 }
 .card-tags-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .card-tag {
   font-size: 0.9rem;
 }
.accomodation-card {
  height: 550px;
  padding: 25px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 12px rgba(86, 109, 115, 0.4);
}
.accomodation-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 0 0;
}
 .fa-star {
  width: 25px;
  padding-right: 5px;
  color: #E6C532;
}
.fa-wifi, .fa-paw, .fa-user-group, .fa-snowflake {
  width: 22px;
  padding-right: 5px;
  color: #566D73;
}
.accomodation-card-img {
  padding: 1rem;
  border-radius: 10px;
}
h1 {
  margin: 4rem 0 2rem 0;
}
.inspo-tiles {
  background-color: #D3E4E8;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 12px rgba(86, 109, 115, 0.4);
}
.inspo-card {
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 12px rgba(86, 109, 115, 0.4);
}
.inspo-tiles img, .inspo-card img {
  border-radius: 10px 10px 0 0;
}
.button {
  width: 100%;
  max-width: 800px !important;
  margin: 0 auto;
}
 /* .hidden {
   display: none;
 } */